

#
# Default  Bacula File Daemon Configuration file
#
#  For Bacula release 8.6.16 (01 May 2017) -- redhat Enterprise release
#
# There is not much to change here except perhaps the
# File daemon Name to
#
#
# Copyright (C) 2000-2015 Kern Sibbald
# License: BSD 2-Clause; see file LICENSE-FOSS
#

#
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{ backup_server }}
  Password = "4GZB1SReM83gIfCMg+Hj9gCMqJj/RJ2xjXiKj9cYwJ6D"
}

#
# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
#
Director {
  Name = {{ ansible_hostname }}-mon
  Password = "b@cul@_m0n"
  Monitor = yes
}

#
# "Global" File daemon configuration specifications
#
FileDaemon {                            # this is me
  Name = FD_{{ ansible_hostname }}_{{ shortcut_site }}
  FDport = 9102                # where we listen for the director
  WorkingDirectory = "C:\\Program Files\\Bacula\\working"
  Pid Directory = "C:\\Program Files\\Bacula\\working"
  Plugin Directory = "C:\\Program Files\\Bacula\\plugins"
  Maximum Concurrent Jobs = 10
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = 6a0df625a05c-dir = all, !skipped, !restored, !saved
}
